body{
    background: rgb(255, 192, 234);
    }
.List1{
    background-color: #ffc4d8;
    border-left: 8px solid #740434;
    color: #49152c;
    padding: 30px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(41, 3, 31);
    }

footer{
    color: rgb(54, 2, 47);
    }
    #rectangle {
        width: 200px;
        height: 100px;
        margin: 0 auto ;
        background: rgb(59, 1, 35);
        animation-timing-function:linear;
        animation-duration: 3s;
      }
      .fig1:hover {
        transition: transform 3s;
        transform: scale(2);
      }
      #rectangle1 {
        width: 200px;
        height: 200px;
        margin: 0 auto ;
        background: rgb(59, 1, 35);
        animation-timing-function:linear;
        animation: roll 2s;
        opacity: .7;
        }
   @keyframes roll {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotateX(45deg);
    }
    75% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(180deg);
    }
  }
    
     #circle {
         width: 200px;
        height: 200px;
        background: #350036;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 100px;
    }
    .fig3:hover{
        transition: transform 1.75s;
        animation-timing-function:ease-in-out;
        transform: scale(0.004);
    }
    #rectangle5 {
         width: 200px;
        height: 200px;
        margin: 0 auto ;
        background: rgb(253, 248, 251);
        animation: changeBackgroundColor 22.5s;
        }
    @keyframes changeBackgroundColor {
        from {
            background-color: red;
            }
            17% {
                background-color: rgb(255, 136, 0);
            }
            50% {
                background-color: yellow;
            }
            83% {
                background-color: rgb(21, 255, 0);
            }
            to {
                background-color: rgb(0, 51, 128);
            }
            }
            #rectangle6 {
                width: 200px;
                height: 100px;
                margin: 0 auto ;
                background: rgb(255, 35, 163);
                animation-duration: 3s;
                animation: changeBackgroundColor 3s;
              }
              .fig6:hover {
                transition: transform 1.75s;
                animation-timing-function:ease-in-out;
                transform: scale(2);
              }
              #flex-div {
                display: flex;
                flex-wrap: wrap;
                height: 30vw;
                width: 80%;
                margin-bottom: 20vh;
              }
              
              #flex-div > div {
                  margin: auto;
              }
              
              #flex-top1{ width: 31%; height: 33%; background: rgb(128, 10, 65);}
              #flex-top2{ width: 15%; height: 33%; background: rgb(109, 11, 109);}
              #flex-top3{ width: 15%; height: 33%; background: rgb(153, 2, 153);}
              #flex-top4{ width: 39%; height: 33%; background: rgb(92, 3, 77);}
              #flex-mid1{ width: 33%; height: 34%; background: rgb(74, 183, 226);}
              #flex-mid2{ width: 35%; height: 34%; background: rgb(9, 85, 126);}
              #flex-mid3{ width: 32%; height: 34%; background: rgb(10, 62, 90);}
              #flex-down1{ width: 31%; height: 33%; background: rgb(4, 64, 94);}
              #flex-down2{ width: 10%; height: 33%; background: rgb(2, 27, 48);}
              #flex-down3{ width: 10%; height: 33%; background: rgb(61, 152, 233);}
              #flex-down4{ width: 10%; height: 33%; background: rgb(9, 95, 24);}
              #flex-down5{ width: 39%; height: 33%; background: rgb(0, 255, 34);}
              
              #grid-div{
                  height: 30vw;
                  width: 70vw;
                  margin: auto;
                  margin-top: 50px;
                  margin-bottom: 50px;
                  display: grid;
                  grid-template-columns: 25% 15% 10% 40%;
                  grid-template-rows: 15% 20% 15% 15% 15% 20%;
              }
              
              #grid-div > div {
                  margin: 0;
              }
              
              #grid1 {grid-column: 1/4; grid-row: 1; background-color: rgb(187, 71, 255);}
              #grid2 {grid-column: 4/5; grid-row: 1; background-color: rgb(255, 140, 140);}
              #grid3 {grid-column: 1/5; grid-row: 2; background-color: rgb(243, 55, 55);}
              #grid4 {grid-column: 1/3; grid-row: 3/5; background-color: rgb(6, 59, 4);}
              #grid5 {grid-column: 3/5; grid-row: 3; background-color: rgb(205, 253, 10);}
              #grid6 {grid-column: 3/5; grid-row: 4; background-color: rgb(5, 100, 84);}
              #grid7 {grid-column: 1/2; grid-row: 5/7; background-color: #a976fc;}
              #grid8 {grid-column: 2/4; grid-row: 5/7; background-color: #690796;}
              #grid9 {grid-column: 4/5; grid-row: 5; background-color: #43f81f;}
              #grid10 {grid-column: 4/5; grid-row: 6; background-color: #86bcda;}
              
              